@use '../../scss/' as *;

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 2rem;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    &_loadmore {
        text-align: center;
    }
}
.movie-search {
    position: relative;
    width: 100%;
    max-width: 500px;

    input {
        width: 100%;
        padding-right: 6rem;
        @include mobile {
            padding: 1.6rem 2.5rem;
        }
    }
    button {
        position: absolute;
        right: 0;
        top: 1px;
        @include mobile {
            top: 50%;
            padding: 2rem;
            transform: translateY(-50%);
        }
    }
}
