@use '../../scss/' as *;

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height 0.25s ease, background-color 0.25s ease;

    &.shrink {
        height: $header-shrink-height;
        background-color: $body-bg;
    }

    &_wrap {
        @include flex(center, space-between);
        height: 100%;
        padding: 0 2rem;

        @include mobile {
            justify-content: center;
        }
    }
    &_nav {
        @include flex(center, unset);

        & > * + * {
            margin-left: 2rem;
        }

        & a {
            position: relative;
            font-size: 1.5rem;
            font-weight: 700;
            padding: 5px 0;

            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                width: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                transition: width 0.5s ease;
                background-color: $main-color;
            }

            &.active::after,
            &:hover::after {
                width: 100%;
            }
        }
        @include mobile {
            position: fixed;
            background-color: $body-bg;
            height: 5rem;
            width: 100%;
            padding: 0 2rem;
            bottom: 0;
            right: 0;
            left: 0;
            box-shadow: $box-shadow;

            @include flex(center, space-between);

            & > * + * {
                margin-left: 0;
            }
        }
    }
}

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    @include flex(center, unset);

    img {
        margin-right: 10px;
        width: 50px;
        @include mobile {
            width: 30px;
            margin-right: 0;
        }
    }
}
