@use '../../scss/' as *;

.footer {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem 2rem;

    &_content {
        max-width: 1000px;

        &_logo {
            font-size: 2.5rem;
            font-weight: 600;
            @include flex(center, center);

            img {
                margin-right: 10px;
                width: 50px;
                @include mobile {
                    width: 30px;
                    margin-right: 0;
                }
            }
        }
        &_menus {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;

            @include mobile {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        &_menu {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            margin-top: 2rem;
            font-size: 1.5rem;
            font-weight: 500;

            & > * ~ * {
                margin-top: 0.8rem;
            }
        }
    }
}
